{% load static %}

<section class="bg-img cover-background line-banner" data-overlay-dark="6" data-background="{% static 'front/img/banner/bg2.jpg' %}">

            <!-- start banner text -->
            <div class="container position-relative h-100">
                <div class="header-text display-table h-100 z-index-1 width-100">
                    <div class="display-table-cell vertical-align-middle text-center">

                        <p class="font-size18 xs-font-size16 text-white letter-spacing-1 margin-15px-bottom">Search top-rated attractions</p>

                        <!-- start banner headline text -->
                        <h1 class="cd-headline slide">
                                                Find The Best
                                                <span class="cd-words-wrapper no-padding-tb">
                                                    <b class="is-visible">Hotels</b>
                                                    <b>Shops</b>
                                                    <b>Fitness</b>
                                                </span>
                                            </h1>
                        <!-- end banner headline text -->

                        <div class="bg-white-opacity padding-10px-tb margin-40px-top xs-margin-30px-top padding-15px-lr xs-padding-20px-all border-radius-4">
                            <form method="post" action="#!">
                                <div class="form-row align-items-center">
                                    <div class="col-md-4 my-1">
                                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="What are you looking for?">
                                    </div>
                                    <div class="col-md-3 my-1">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option selected>All Location</option>
                                            <option value="1">U.S.A</option>
                                            <option value="2">U.K</option>
                                            <option value="3">ASIA</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 my-1">
                                        <select class="form-control" id="exampleFormControlSelect2">
                                            <option selected>All Categories</option>
                                            <option value="1">Restaurants</option>
                                            <option value="2">Hotels</option>
                                            <option value="3">Nightclubs</option>
                                            <option value="4">Automotive</option>
                                            <option value="5">Museums</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 my-1">
                                        <button type="submit" class="butn btn-block">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="margin-40px-top xs-margin-30px-top">
                            <span class="margin-10px-right text-white xs-display-block xs-margin-10px-bottom">Popular Searchs</span>
                            <div class="searchs display-inline-block">
                                <ul class="no-margin-bottom">
                                    <li><a href="#!" class="text-white">Nightlife</a></li>
                                    <li><a href="#!" class="text-white">Restaurant</a></li>
                                    <li><a href="#!" class="text-white">Events</a></li>
                                    <li><a href="#!" class="text-white">Fitness</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end banner text -->

        </section>
